@model ToolsMarket.App.ViewModels.PedidoViewModel

@{
    ViewData["Title"] = "Carrinho - ";
}

<div class="container" style="margin: 60px auto;">
    <div class="d-flex flex-row align-items-end mb-4">
        <h5 class="m-0">Carrinho </h5> <span style="font-size: .8rem; margin-left: 10px; color: #bbb; font-weight: normal">Clique em finalizar compra para efetuar o seu pedido</span>
    </div>

    <table class="table table-hover">
        <thead class="table-light" style="text-transform: uppercase; font-size: .7rem;">
            <tr>
                <th>
                    PRODUTO
                </th>
                <th>
                    PREÇO UNITÁRIO
                </th>
                <th>
                    QUANTIDADE
                </th>
                <th>
                    SUBTOTAL
                </th>
                <th>
                    EXCLUIR
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ItensPedido)
            {
                <tr>
                    <td>
                        <div class="d-flex flex-row">
                            <div class="productImage">
                                <img style="width: 90px; height: 90px" src="~/images/produtos/@item.Produto.Imagem" alt="@item.Produto.Imagem" />
                            </div>
                            <div class="descricao d-flex flex-row">
                                <div>@Html.DisplayFor(modelItem => item.Produto.Nome)</div>
                                <div><span>Estoque: </span> @Html.DisplayFor(modelItem => item.Produto.Status)</div>
                            </div>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto.ValorUnitario)
                    </td>
                    <td>
                    <td>
                            @Html.DisplayFor(modelItem => item.Pedido.ValorTotal)
                    </td>
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>