@model ToolsMarket.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.Nome);
}

<div class="container mt-5 mb-5">
    <div class="row mb-5">
        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="~/images/produtos/@Model.Imagem" alt="@Model.Imagem" style="width:400px; height:400px;" />
        </div>
        <div class="col-md-6">
            <div>
                <h6 style="font-size: 1.05rem">@Html.DisplayFor(model => model.Nome)</h6>
            </div>           
            <div class="text-end" style="padding: 15px 0; font-size: .8rem; border-bottom: 2px solid #dbdee1">
                @Html.DisplayNameFor(model => model.Marca)
                <strong class="fw-bolder">@Html.DisplayFor(model => model.Fornecedor.Nome)</strong>
            </div>   
            <div class="pt-3 pb-3">
                <strong class="fs-2 text-warning">@Html.DisplayFor(model => model.ValorUnitario)</strong>
            </div>
            <div class="action">
                <input class="qtd" type="text" value="1" placeholder="1"/>
                <button type="buttom" class="btn" value="Comprar" asp-action="Comprar">Comprar</button>
            </div>
            <div class="pt-3 pb-3" style="font-size: .8rem;">
                <span style="font-size: .7rem">@Html.DisplayNameFor(model => model.Status)</span>
                <strong style="font-size: .9rem; font-weight: bold; color: #f7812b">@Html.DisplayFor(model => model.Status)</strong>
            </div>
        </div>
    </div>
    <div class="col-12 mt-2">
        <h5 class="fw-normal">DESCRIÇÃO DO PRODUTO</h5>
        <div class="col-sm-12" contenteditable="true">
            @Html.DisplayFor(model => model.Descricao)
        </div>
    </div>   
</div>
